body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;   /* makes it responsive */
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
